
.content {
    max-width: 900px;
    margin: 0 auto;
}

.header {
	text-align: center;
}

.header p {
	font-size: 1.5em;
	font-style: italic;
}

.posts-block {
	display: flex;
	flex-direction: row-reverse;
}

.most-used {
    box-sizing: border-box;
    width: 340px;
    padding-left: 1em;
}

.most-used ul {
    list-style: disc;
    font-size: 90%;
}


.posts {
	flex-grow: 10;
	padding-bottom: 40px;
}

.post .text {

}

.post .text img {
	/*float: left;*/
	margin: 0 1em 1em 0;
	max-width: 300px;
}

.post .text p:after {
	content: ' ';
	font-size: 0;
	display: block;
	clear: both;
	color: red;
}

.post .post-head {
	display: flex;
}

.post .post-head .title {
	flex-grow: 10;
}

.post .post-head .title h3 {
	margin-top: 0;
}

.post .post-head .date {
	padding-top: 1em;
}

.ajax-progress {
	z-index: 1;
	position: relative;
	overflow: hidden;
}

.ajax-progress:after {
	z-index: 10000;
	content: '';
	opacity: 0.85;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #bbb;
}

.ajax-progress:before {
	content: '';
	left: 50%;
	top: 45%;
	position: absolute;
	z-index: 10001;
	animation: spinAround 0.7s steps(8) infinite;
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 456.817 456.817' style='enable-background:new 0 0 456.817 456.817;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath d='M109.641,324.332c-11.423,0-21.13,3.997-29.125,11.991c-7.992,8.001-11.991,17.706-11.991,29.129 c0,11.424,3.996,21.129,11.991,29.13c7.998,7.994,17.705,11.991,29.125,11.991c11.231,0,20.889-3.997,28.98-11.991 c8.088-7.991,12.132-17.706,12.132-29.13c0-11.423-4.043-21.121-12.132-29.129C130.529,328.336,120.872,324.332,109.641,324.332z' fill='%23FFFFFF'/%3e%3cpath d='M100.505,237.542c0-12.562-4.471-23.313-13.418-32.267c-8.946-8.946-19.702-13.418-32.264-13.418 c-12.563,0-23.317,4.473-32.264,13.418c-8.945,8.947-13.417,19.701-13.417,32.267c0,12.56,4.471,23.309,13.417,32.258 c8.947,8.949,19.701,13.422,32.264,13.422c12.562,0,23.318-4.473,32.264-13.422C96.034,260.857,100.505,250.102,100.505,237.542z' fill='%23FFFFFF'/%3e%3cpath d='M365.454,132.48c6.276,0,11.662-2.24,16.129-6.711c4.473-4.475,6.714-9.854,6.714-16.134 c0-6.283-2.241-11.658-6.714-16.13c-4.47-4.475-9.853-6.711-16.129-6.711c-6.283,0-11.663,2.24-16.136,6.711 c-4.47,4.473-6.707,9.847-6.707,16.13s2.237,11.659,6.707,16.134C353.791,130.244,359.171,132.48,365.454,132.48z' fill='%23FFFFFF'/%3e%3cpath d='M109.644,59.388c-13.897,0-25.745,4.902-35.548,14.703c-9.804,9.801-14.703,21.65-14.703,35.544 c0,13.899,4.899,25.743,14.703,35.548c9.806,9.804,21.654,14.705,35.548,14.705s25.743-4.904,35.544-14.705 c9.801-9.805,14.703-21.652,14.703-35.548c0-13.894-4.902-25.743-14.703-35.544C135.387,64.29,123.538,59.388,109.644,59.388z' fill='%23FFFFFF'/%3e%3cpath d='M439.684,218.125c-5.328-5.33-11.799-7.992-19.41-7.992c-7.618,0-14.089,2.662-19.417,7.992 c-5.325,5.33-7.987,11.803-7.987,19.421c0,7.61,2.662,14.092,7.987,19.41c5.331,5.332,11.799,7.994,19.417,7.994 c7.611,0,14.086-2.662,19.41-7.994c5.332-5.324,7.991-11.8,7.991-19.41C447.675,229.932,445.02,223.458,439.684,218.125z' fill='%23FFFFFF'/%3e%3cpath d='M365.454,333.473c-8.761,0-16.279,3.138-22.562,9.421c-6.276,6.276-9.418,13.798-9.418,22.559 c0,8.754,3.142,16.276,9.418,22.56c6.283,6.282,13.802,9.417,22.562,9.417c8.754,0,16.272-3.141,22.555-9.417 c6.283-6.283,9.422-13.802,9.422-22.56c0-8.761-3.139-16.275-9.422-22.559C381.727,336.61,374.208,333.473,365.454,333.473z' fill='%23FFFFFF'/%3e%3cpath d='M237.547,383.717c-10.088,0-18.702,3.576-25.844,10.715c-7.135,7.139-10.705,15.748-10.705,25.837 s3.566,18.699,10.705,25.837c7.142,7.139,15.752,10.712,25.844,10.712c10.089,0,18.699-3.573,25.838-10.712 c7.139-7.138,10.708-15.748,10.708-25.837s-3.569-18.698-10.708-25.837S247.636,383.717,237.547,383.717z' fill='%23FFFFFF'/%3e%3cpath d='M237.547,0c-15.225,0-28.174,5.327-38.834,15.986c-10.657,10.66-15.986,23.606-15.986,38.832 c0,15.227,5.327,28.167,15.986,38.828c10.66,10.657,23.606,15.987,38.834,15.987c15.232,0,28.172-5.327,38.828-15.987 c10.656-10.656,15.985-23.601,15.985-38.828c0-15.225-5.329-28.168-15.985-38.832C265.719,5.33,252.779,0,237.547,0z' fill='%23FFFFFF'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e ") 0 0 no-repeat;
	background-size: 31px;
	width: 32px;
	height: 32px;
}

@keyframes spinAround {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 1023px) {
	.content {
        width: 100%;
        min-width: 300px;
        max-width: initial;
	}

    .posts-block {
        display: block;
    }

    .most-used {
        border: 0;
        width: initial;
    }

    .most-used .panel {
        border: 0;
        display: flex;
    }

    .most-used span {
        white-space: nowrap;
        margin-right: 1em;
        padding-top: 0.1em;
    }

    .most-used span:after {
        content: ':';
    }

    .most-used ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .most-used ul li {
        display: inline;
        margin: 0;
        padding: 0;
    }

    .most-used ul li:after {
        content: ', ';
    }

    .most-used ul li:last-child:after {
        content: '';
    }
}

@media only screen and (max-width: 639px) {
    .post .text img {
        max-width: 150px;
    }

    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.78571em;
    }
}
